<div style="width: 400px; margin: auto;">
  <form [formGroup]="form">
    <div *ngIf="currentColumn" class="edit-form">
      <h4>Column</h4>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name" name="name"/>
      </div>
      <div class="form-group">
        <label for="dataType">Data Type</label>
        <select id="dataType" formControlName="dataType" style="margin-left: 20px">
          <option value="">Select Data Type...</option>
          <option *ngFor="let dataType of dataTypes" [ngValue]="dataType.value">{{dataType.key}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="tag">Tag</label>
        <input type="text" class="form-control" id="tag" formControlName="tag" name="tag"/>
      </div>

      <button type="submit" class="badge badge-success" (click)="updateColumn()">
        Update
      </button>
    </div>
  </form>
</div>
